# Normalizar finales de línea (SIEMPRE LF en repo)
* text=auto eol=lf

# Windows scripts (si algún día tienes .bat)
*.bat text eol=crlf

# Jupyter notebooks (sin outputs)
*.ipynb filter=nbstripout

# Archivos binarios (modelos)
*.h5 binary
*.pt binary
*.pth binary

# Git LFS (archivos pesados)
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text